@import "~@styles/layout.less";

.container {
  .list {
    width: 100%;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #ddd;
    }
  }
}
